/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
/* RWD reset*/
 
img{ max-width: 100%;
	height:auto;
}
 
*, *::before, *::after{
	box-sizing: border-box
}

/* start! */

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .swiper-wrapper {
    position: absolute;
    /* 讓swiper-wrapper不佔空間 */
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.container{
    margin:0 auto;
    height: 100vh;
    max-width: 1366px;
    display: flex;
}

.roomView{
    width: 573px;
    height: 768px;
    background-color: aqua;
    position: relative;
}



/* .emptyRoom{
    position: relative;
    width: 100%;
    height: 100%;
} */

.goBack{
    position: absolute;
    top: 87px;
    left: 146px;
    color: #38470B;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.booking{
    width: 252px;
    height: 44px;
    font-size: 20px;
    background-color: #38470B;
    color: white;
    position: absolute;
    bottom:109px;
    right:160px;
    z-index: 2;
}

.roomDetail{
    width: 60%;
    background-color: white;
    padding-top: 107px;
    padding-left: 30px;
    padding-right: 128px;
}

.header{
    display: flex;
    justify-content: space-between;
}


.basicInfo{
    line-height: 20px;
}

h2{
    color:#38470B;
    font-size: 40px;
}

.timeAndPrice{
    margin-top: 38px;
    line-height: 24px;
}

.desList{
    padding-left: 30px;
    margin-top: 35px;
    list-style-type: disc;
}

.desList li{
    line-height: 24px;
}

.amenity{
    width: 100%;
}

.amenity li{
    padding-left: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
}

.breakfast{
   
}

.amenity{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.set{
    display: flex;
    align-items: flex-start;
}

.amenity li p{
    margin-top: 8px;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #949C7C; 
}

.non{
    opacity: 0.3;
}

.service{
    display: flex;
    align-items: flex-start;
}

.emptyRoom{
    color: #38470B;
}


/*datepicker*/

.dateTitle{
    margin-top:28px;
    font-weight: 500;
}

#datepicker{
    width: 80%;
    margin-bottom:59px;
}

#datepicker .ui-widget-content{
    width: 100% !important;
    border:1px solid #38470B;
    padding: 20px;
    margin: 0;
}

#datepicker .ui-widget-header,#datepicker .ui-state-default{
    background-color: transparent;
    border: 0;
}

#datepicker .ui-datepicker-week-end,.ui-datepicker-title{
    color: #38470B;
}

#datepicker .ui-datepicker-calendar thead th{
    box-sizing:border-box;
    width: 40px;
}


#datepicker .ui-state-default{
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #38470B;
    border-radius: 10px;
} 


#datepicker .ui-state-default:hover{
    background-color: #949C7C70;
} 

#datepicker .ui-state-active{
    background-color: #38470B;
    color: #fff;
}



/*booking modal*/
.hidden{
    display: none;
}

.bookingNow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bgcolor{
    width: 100%;
    height: 100%;
    background-color: #cccccc80;
}

.bookingFinish,.bookingError{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #38470B;
    z-index: 9999998;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    display: none;
}

.bookingFinish strong,.bookingError strong{
    font-size: 50px;
    margin: 40px 0;
} 

.bookingFinish p,.bookingError p{
    font-size: 20px;
    margin: 30px 0;
    font-weight: 100;
    width: 30%;
    text-align: center;
} 

.bookingNowContent{
    width: 80%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    display: flex;
}

.bookingNowClose{
    position:absolute;
    right:30px;
    top:20px;
    font-size: 25px;
    color: #38470B;
    z-index: 9999999;
}

.checkformContent{
    width: 40%;
    background-color: #38470B;
    display: flex;
    justify-content: center;
}

.checkform{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 70%;
}

.checkform input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 16px;
    border: 0;
}

.checkform p{
    margin:0;
    color:#949C7C;
}

.checkform hr{
    width: 100%;
    border:0;
    background-color:#949C7C;
    height:1px;
}

.checkform .totalprice{
    color: #fff;
    text-align: right;
}

.checkform .totalprice span{
    font-size: 26px;
    font-weight: 500;
}

.checkform .finishBtn{
    width: 100%;
    text-align: center;
    border:2px solid #fff;
    margin-top:20px;
    padding: 8px 0;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    box-sizing: border-box;
    transition: .3s all;
}

.checkform .finishBtn:hover{
    border-color: #949C7C;
    background-color: #949C7C;
}

.checkform .pointText{
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.checkContent{
    width: 60%;
    color: #38470B;
    padding-left:30px;
}

.checkTitle,.bookingNewContent,.bookingReserveContent{
    margin-top:51px;
    width: 90%;
    position:relative;
    display: flex;
    
}

.checkTitle::before,.bookingNewContent::before,.bookingReserveContent::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 1px;
    background-color: #38470B40;
    top:50%;
    left:0;
    transform:translateY(-50%);
    z-index: 0;
}

.checkTitle .bookingtitle,.bookingNewContent .bookingNewtitle,.bookingReserveContent .bookingReservetitle{
    font-size: 24px;
    font-weight: 700;
    margin:0px;
    background-color: #fff;
    padding: 10px 15px 10px 0;
    position: relative;
    z-index: 1;
}

.bookingRoomSize,.bookingCheckIn{
    font-weight: 500;
    margin:0;
}

.bookingAmenities .bookingIcon{
    margin: 10px 2px;
    width: 70px;
}

.bookingAmenities p{
    font-weight: 300;
}

.bookingAmenities .bookingIcon img{
    width: 30px;
}

.bookingAmenities .Amenitiesnone{
    display: none;
}

.bookingNewContent .bookingNewtitle,.bookingReserveContent .bookingReservetitle{
    font-size: 18px;
}

.bookingNewText{
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}

.bookingReserveChart{
    width: 80%;
    display: flex;
    margin-bottom: 26px;
}

.bookingReserveChart .chart{
    width: 30%;
    border:1px solid #949C7C;
    border-radius: 0 0 10px 10px;
}

.bookingReserveChart .chart .chartImg{
    background-color: #949C7C;
    position:relative;
    width: 100%;
    height:50px;
}

.bookingReserveChart .chartImg img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.bookingReserveChart .chart p{
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    padding: 5px 10px;
}

.bookingReserveChart .nexticon{
    width: 5%;
}
.bookingReserveChart .nexticon p{
    text-align: center;
    color:#949C7C;
}